<!-- Banner section -->
<div id="banner" class="signup_banner">
  <h1>انشأ مدونتك الصوتية، مجاني ١٠٠ ٪ .</h1>
</div>

<div id="form">
  <div class="wrapper_skinny">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "عنوان المدونة" %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "البريد الإلكتروني" %><br />
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label "صورة المدونة" %><br />
    <%= f.file_field :thumbnail %>
  </div>

  <div class="field">
    <%= f.label "كلمة المرور" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "إعادة كلمة المرور" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "التسجيل", class: "button button_highlight button_block" %>
    <br>  
      <center>

        <%= link_to "هل لديك حساب ؟", signin_path%>
      <center>
  </div>
<% end %>

</div>
</div>