/* line 5, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

/* line 11, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

/* line 16, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* line 21, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.wrapper_skinny {
  width: 50%;
  margin: 0 auto;
}

/* line 25, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 29, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.cf:after {
  clear: both;
}

/* line 33, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.button {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
  font-family: 'Cairo';
}

/* line 46, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.button_highlight {
  background: #F54F4F;
  transition: background .4s ease-in-out;
}
/* line 49, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.button_highlight:hover {
  background: #f32b2b;
}

/* line 53, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.button_white {
  background: #ffffff;
  color: #22292e;
  transition: background .4s ease-in-out;
}
/* line 57, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.button_white:hover {
  background: #e4e4e4;
}

/* line 62, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.button_block {
  display: block;
  margin: 0 auto;
}

/* line 67, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#main_header {
  color: #22292e;
  background: #ffffff;
  padding: 2.5rem 0;
}
/* line 71, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#main_header #logo {
  float: right;
  text-transform: uppercase;
  font-weight: 700;
  color: #22292e;
  text-decoration: none;
}
/* line 78, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#main_header nav {
  float: left;
}
/* line 80, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#main_header nav ul {
  list-style: none;
  margin: 0;
}
/* line 83, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#main_header nav ul li {
  display: inline;
  margin-right: 2.5rem;
}
/* line 86, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#main_header nav ul li a {
  color: #22292e;
  text-decoration: none;
}

/* line 95, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#footer {
  color: #ffffff;
  background: #22292e;
  padding: 5.5rem 0;
}
/* line 99, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#footer #logo {
  float: right;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
/* line 106, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#footer nav {
  float: left;
}
/* line 108, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#footer nav ul {
  list-style: none;
  margin: 0;
}
/* line 111, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#footer nav ul li {
  display: inline;
  margin-left: 2.5rem;
}
/* line 114, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#footer nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* line 123, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#box {
  width: 100%;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  direction: rtl;
  color: #22292e;
}

@media only screen and (max-width: 500px) {
  /* line 136, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
  a#logo {
    float: none !important;
    text-align: center;
  }

  /* line 140, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
  #background {
    height: 100% !important;
  }

  /* line 143, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
  nav {
    width: 440px;
    margin-top: 30px;
  }

  /* line 147, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
  #podcasts ul li {
    width: 100% !important;
  }

  /* line 150, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
  .pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
    line-height: 4.35 !important;
  }

  /* line 153, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
  #episodes ul li .episode_thumbnail {
    width: 100% !important;
  }

  /* line 156, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
  #episodes ul li .episode_overview {
    width: 100% !important;
  }
}
/* line 161, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
}
/* line 166, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#banner h1 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  padding: 8rem 0;
}

/* line 177, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.podcasts_banner {
  background-image: url(/assets/banner-be90bce49ff54827f9d495b7710f844187e8aed51b64d94b61360e8359da1ac8.jpg);
}

/* line 181, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.signin_banner {
  background-image: url(/assets/signin-42eb1002cf6f3f382fddc2115dda564a82e23104aa5730c058fa450ba1a2eb5c.jpg);
}

/* line 185, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.signup_banner {
  background-image: url(/assets/signup-830fd72500909a600f4a31b675cd5ca272ffeedbdf678e4bf76aa7ae1e542f85.jpg);
}

/* line 189, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.pagination:before, .pagination:after {
  content: " ";
  display: table;
}

/* line 193, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.pagination:after {
  clear: both;
}

/* line 196, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.pagination {
  text-align: center;
  margin: 1rem 0 5rem 0;
}
/* line 199, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
  padding: 0.75rem 1rem;
  margin: 0.25rem;
  border-radius: .15rem;
  line-height: .25;
  text-decoration: none;
  background-color: #edeff5;
  font-weight: 700;
  font-size: .7rem;
  font-style: normal;
  color: #22292e;
}
/* line 210, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.pagination a:hover, .pagination .previous_page:hover, .pagination .current:hover, .pagination .next_page:hover {
  background: #F54F4F;
  color: #ffffff;
}
/* line 215, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.pagination .current {
  background-color: #F54F4F;
  color: #ffffff;
}
/* line 219, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.pagination .disabled {
  color: #c0c0c0;
  cursor: not-allowed;
}
/* line 222, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.pagination .disabled:hover {
  color: #c0c0c0;
  background-color: #edeff5;
}

/* line 228, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.field {
  margin: .5rem 0  1.5rem 0;
}

/* line 232, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
input[type="email"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 2.5rem;
  padding: .25rem;
  background: #edeff5;
  border: 1px solid #dde0ec;
  border-radius: .35rem;
  margin-top: .5rem;
}

/* line 242, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
textarea {
  min-height: 8rem;
  margin-top: .5rem !important;
}

/* line 248, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
#form {
  padding: 0 0 5rem 0;
}

/* line 253, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/application.css.scss */
.actions a {
  text-decoration: none;
  color: #22292e;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
sub {
  bottom: -0.25em;
}

/* line 191, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/normalize.css.scss */
[hidden] {
  display: none;
}

/* line 1, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/welcome.css.scss */
#background {
  background-image: url(/assets/home_bg-4bade2363c2e3d9f8c6c50f5ea10d8cdc151b3d7010fedd8fae2ca901bb3ea07.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}
/* line 8, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/welcome.css.scss */
#background header {
  padding: 3rem 0;
}
/* line 10, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/welcome.css.scss */
#background header #logo {
  float: right;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
/* line 17, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/welcome.css.scss */
#background header nav {
  float: left;
}
/* line 19, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/welcome.css.scss */
#background header nav ul {
  list-style: none;
  margin: 0;
  direction: rtl;
}
/* line 23, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/welcome.css.scss */
#background header nav ul li {
  display: inline;
  margin-right: 2.5rem;
}
/* line 26, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/welcome.css.scss */
#background header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 35, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/welcome.css.scss */
#background h1 {
  color: #ffffff;
  font-size: 3.3rem;
  font-weight: 300;
  margin: 11rem 0 2rem 0;
  line-height: 5rem;
}
/* line 43, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/welcome.css.scss */
#background .button {
  margin: 1.5rem 2.5%  0 2.5%;
}

/* line 1, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcasts {
  padding-bottom: 3rem;
}
/* line 3, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcasts ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 8, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcasts ul li {
  width: 23%;
  float: right;
  margin: 0 1% 2rem 1%;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: .15rem;
}
/* line 15, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcasts ul li img {
  width: 100%;
  max-width: 100%;
  border-radius: .35rem .35rem 0 0;
}
/* line 21, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcasts ul li .podcast_overview {
  padding: 1rem 7.5%;
}
/* line 23, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcasts ul li .podcast_overview h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #22292e;
}
/* line 29, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcasts ul li .podcast_overview .episode_count {
  color: #9aaab5;
  font-size: .9rem;
  margin: .5rem 0 .25rem 0;
}
/* line 36, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcasts ul li:hover img {
  opacity: .8;
}
/* line 40, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcasts ul li:hover .podcast_overview h2 {
  color: #F54F4F;
}

/* line 49, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcast_show #show_banner {
  background: #22292e;
  text-align: center;
  padding: 5rem 0;
}
/* line 53, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcast_show #show_banner h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 .5rem 0;
}
/* line 59, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcast_show #show_banner .description {
  width: 85%;
  margin: 0 auto 2rem auto;
  line-height: 1.75rem;
  color: #43505a;
}
/* line 66, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcast_show #show_banner .subscribe_link {
  font-size: .6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  display: inline;
  background: #F54F4F;
  border-radius: 2rem;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  text-decoration: none;
}
/* line 78, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcast_show #show_banner .subscribe_link:hover {
  background: #f21f1f;
}
/* line 83, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcast_show #breadcrumb {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid #e4e8eb;
}
/* line 87, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcast_show #breadcrumb a {
  font-weight: 700;
  font-size: .7rem;
  text-decoration: none;
  color: #8c9daa;
}
/* line 93, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#podcast_show #breadcrumb span {
  margin: 0 .5rem;
}

/* line 99, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes {
  padding: 3rem 0;
}
/* line 101, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul {
  list-style: none;
  padding-left: 0;
}
/* line 104, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul li {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e4e8eb;
  margin-bottom: 2rem;
}
/* line 108, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul li:last-child {
  border-bottom: none;
}
/* line 111, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul li .episode_thumbnail {
  width: 22%;
  float: left;
}
/* line 114, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul li .episode_thumbnail img {
  width: 10rem;
  max-width: 100%;
  border-radius: .35rem;
}
/* line 123, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul li .episode_overview {
  width: 76.5%;
  float: left;
  margin-left: 1.5%;
}
/* line 128, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul li .episode_overview h2 a {
  color: #22292e;
  text-decoration: none;
}
/* line 131, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul li .episode_overview h2 a .description {
  color: #586a77;
}
/* line 137, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul li .episode_overview .authorized_links {
  font-weight: 700;
  font-size: .8rem;
}
/* line 140, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episodes ul li .episode_overview .authorized_links a {
  color: #F54F4F;
  margin-right: 1rem;
  text-decoration: none;
}

/* line 150, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content {
  padding: 4rem 0;
  margin-bottom: 4rem;
  border-bottom: 1px solid #e4e8eb;
}
/* line 154, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .current_episode_thumbnail {
  display: block;
  margin: 0 auto 2rem auto;
  width: 10rem;
  max-width: 100%;
  border-radius: .35rem;
}
/* line 162, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content h2 {
  font-size: 1.5rem;
  text-align: center;
}
/* line 166, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .description {
  text-align: center;
  font-size: .9rem;
  line-height: 1.7;
}
/* line 172, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content a {
  text-decoration: none;
}
/* line 176, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-jplayer, #episode_content .jp-audio {
  width: 85%;
  margin: 3rem auto .5rem auto;
}
/* line 180, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-title {
  font-size: 12px;
  text-align: center;
  color: #999;
}
/* line 185, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-title ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 190, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-gui {
  position: relative;
  background: #F54F4F;
  transition: background .4s ease-in-out;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 10px;
}
/* line 198, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-controls {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "FontAwesome";
}
/* line 205, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-controls li {
  display: inline;
}
/* line 209, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-controls a {
  color: #fff;
}
/* line 212, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-play, #episode_content .jp-pause {
  width: 60px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-right: 1px solid #f87f7f;
}
/* line 221, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-controls .jp-play:hover, #episode_content .jp-controls .jp-pause:hover {
  background-color: #f21f1f;
}
/* line 225, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-mute, #episode_content .jp-unmute {
  position: absolute;
  right: 59px;
  top: -3px;
  width: 20px;
  height: 40px;
  display: inline-block;
  line-height: 46px;
}
/* line 235, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-mute {
  text-align: left;
}
/* line 238, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-time-holder {
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  right: 90px;
  top: 14px;
}
/* line 246, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-progress {
  background-color: #ba0b0b;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: absolute;
  right: 22%;
  top: 15px;
  width: 65%;
}
/* line 256, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-play-bar {
  height: 12px;
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
}
/* line 262, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-volume-bar {
  position: absolute;
  right: 10px;
  top: 17px;
  width: 45px;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
  background-color: #ba0b0b;
  overflow: hidden;
}
/* line 273, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#episode_content .jp-volume-bar-value {
  background-color: #fff;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
}

/* line 283, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#links {
  padding: 2rem 0;
}
/* line 285, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#links ul {
  list-style: none;
  padding-left: 0;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e4e8eb;
  direction: rtl;
}
/* line 292, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#links ul li {
  display: inline;
  margin-right: 1rem;
  font-weight: 700;
}
/* line 296, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#links ul li a {
  color: #22292e;
  text-decoration: none;
}
/* line 299, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#links ul li a:hover {
  color: #F54F4F;
}
/* line 304, /Users/HGOBOY/Desktop/Podcast/backend/podcast_fm/app/assets/stylesheets/podcast.css.scss */
#links ul .current {
  color: #F54F4F;
}
