<%= form_for ([@podcast, @episode]) do |f| %>
	<div class="field">
		<%= f.label :title %> <br />
		<%= f.text_field :title %> <br />
	</div>
	<div class="field">
		<%= f.label :description %> <br />
		<%= f.text_area :description %> <br />
	</div>

	<div class="field">
		<%= f.label :description %> <br />
		<%= f.text_area :description %> <br />
	</div>

	<div class="field">
		<%= f.label "Category" %> <br />
		<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select A Category") %> <br />
	</div>

	<div class="field">
		<%= f.label :mp3 %> <br />
		<%= f.file_field :mp3 %> <br />
	</div>

	<%= f.submit "Add Episode", class: "button button_highlight button_block" %>

<% end %>