 <!-- Banner Section -->
<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
    <h1>The Rocketship Podcast Dashboard</h1>
  </div>
     </div>
     <!-- Banner End -->

  <!-- Dashboard Link Section -->
  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Episodes", root_path  %></li>
        <li><%= link_to "New Episode", new_podcast_episode_path(@podcast)%></li>
        <li><%= link_to "Account Settings",edit_podcast_registration_path%></li>
        <li><%= link_to "View Podcasts", podcast_path(current_podcast) %></li>
      </ul>
    </div>
  </div>
</div>  

<div id="form">
  <div class="wrapper_skinny">



  <%= render 'form' %>
</div>
</div>  