 <!-- Banner Section -->
<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
    <h1> لوحة التحكم</h1>
  </div>
     </div>
     <!-- Banner End -->

  <!-- Dashboard Link Section -->
  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "التدوينات", root_path %></li>
        <li><%= link_to "تدوينة جديدة", new_podcast_episode_path(@podcast), class: "current"%></li>
        <li><%= link_to "اعدادات الحساب",edit_podcast_registration_path%></li>
        <li><%= link_to "اظهار التدوينات", podcast_path(current_podcast) %></li>
      </ul>
    </div>
  </div>
</div>  

<div id="form">
  <div class="wrapper_skinny">

<h1>New Episode</h1>

  <%= render 'form' %>
</div>
</div>