<div id="background">
		<header class="cf">
		<div class="wrapper_wide">
    		<%= link_to t("navbar.logo"), root_path, id: "logo" %>
			<nav>
				<ul>
				<% unless podcast_signed_in? %>
					<li><%= link_to_unless_current "English", locale: "en" %></li> 
					<li><%= link_to_unless_current "العربية", locale: "ar" %></li>
					|
					<li><%= link_to t("navbar.menu.explore"), podcasts_path%></li>
	          		<li><%= link_to t("navbar.menu.signin"), signin_path  %></li>
	          		<li><%= link_to t("navbar.menu.signup"), signup_path %></li>
					<% else %>
				    <li><%= link_to t("navbar.menu.dashboard"), root_path %></li>
		            <li><%= link_to t("navbar.menu.explore"), podcasts_path %></li>
		            <li><%= link_to t("navbar.menu.signout"), destroy_podcast_session_path, method: :delete %>
				<% end %>
				</ul>
			</nav>
		   </div>
		</header>

		<div class="wrapper_skinny">
		<h1><%= t "pages.welcome.title" %></h1>
		<%= link_to t("pages.welcome.btn_cre"), signup_path, class: "button button_highlight" %>
		<%= link_to t("pages.welcome.btn_exp"), podcasts_path, class: "button button_white" %>
		</div>
	</div>

	<div class="wrapper_wide">
		<div id="box">
			<h1>فكرة المنصة</h1>
		</div>
	</div>