<!-- Banner section -->
<div id="banner" class="signin_banner">
  <h1>اهلا بك . لقد افتقدنا صوتك. </h1>
</div>

<div id="form">
  <div class="wrapper_skinny">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label "البريد الاكتروني" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label "كلمة المرور" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "تذكرني" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "تسجيل الدخول", class: "button button_highlight button_block" %>      
      <br>  
      <center>
        <span>او</span>
        <%= link_to "التسجيل", signup_path%>
      <center>

    </div>
  <% end %>
  </div>
 </div>