$white: #ffffff;
$highlight: #F54F4F;
$dark: #22292e;
$light: #edeff5;
body {
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Cairo', sans-serif;
	direction: rtl;

}
.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 50%;
	margin: 0 auto;
}
.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}

.button {
	color: $white;
	text-decoration: none;
	font-size: 1rem;
	padding: 1rem 2rem;
	border-radius: 2rem;
	outline: none;
	border: none;
	display: inline-block;
	min-width: 8.5rem;
	font-family: 'Cairo';
}

.button_highlight {
	background: $highlight;
	transition: background .4s ease-in-out;
	&:hover {
		background: darken($highlight, 7.5%);
	}
}
.button_white {
	background: $white;
	color: $dark;
	transition: background .4s ease-in-out;
	&:hover {
		background: darken($white, 10.5%);
	}
}

.button_block {
	display: block;
	margin: 0 auto;
}

#main_header {
	color: $dark;
	background: $white;
	padding: 2.5rem 0;
			#logo {
			float: right;
			text-transform: uppercase;
			font-weight: 700;
			color: $dark;
			text-decoration: none;
		}
		nav {
			float: left;
			ul {
				list-style: none;
				margin: 0;
				li {
					display: inline;
					margin-right: 2.5rem;
					a {
						color: $dark;
						text-decoration: none;
					}
				}
			}
		}
}

#footer {
	color: $white;
	background: $dark;
	padding: 5.5rem 0;
			#logo {
			float: right;
			text-transform: uppercase;
			font-weight: 700;
			color: $white;
			text-decoration: none;
		}
		nav {
			float: left;
			ul {
				list-style: none;
				margin: 0;
				li {
					display: inline;
					margin-left: 2.5rem;
					a {
						color: $white;
						text-decoration: none;
					}
				}
			}
		}
}

#box {
	width: 100%;
	// height: 750px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
	padding: 20px;
	margin-bottom: 50px;
	margin-top: 50px;
	direction: rtl;
	color: $dark;
}

@media only screen and (max-width: 500px) {
		a#logo {
			float: none !important;
			text-align: center;	
		}
		#background {
			height: 100% !important;
		}
 	   nav {
 	   	width: 440px;
 	   	margin-top: 30px;
 	   }
 	   #podcasts ul li {
 	   	width: 100% !important;
 	   }
 	   .pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
 	   	 line-height: 4.35 !important;
 	   }
 	   #episodes ul li .episode_thumbnail {
 	   	width: 100% !important;
 	   }
 	   #episodes ul li .episode_overview {
 	   	 width: 100% !important;
 	   }
}

#banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 4rem;
	h1 {
		text-align: center;
		color: $white;
		font-size: 3rem;
		font-weight: 300; 
		letter-spacing: 1px;
		margin: 0;
		padding: 8rem 0;	
	}
}

.podcasts_banner {
	background-image: image-url("banner.jpg");
}

.signin_banner {
	background-image: image-url("signin.jpg");
}

.signup_banner {
	background-image: image-url("signup.jpg");
}

.pagination:before, .pagination:after {
	content: " ";
	display: table;
}
.pagination:after {
	clear: both;
}
.pagination {
	text-align: center;
	margin: 1rem 0 5rem 0;
	a, .previous_page, .current, .next_page {
		padding: 0.75rem 1rem;
		margin: 0.25rem;
		border-radius: .15rem;
		line-height: .25;
		text-decoration: none;
		background-color:  #edeff5;
		font-weight: 700;
		font-size: .7rem;
		font-style: normal;
		color: $dark;
		&:hover {
			background: $highlight;
			color: $white;
		}
	}
	 .current {
		background-color: $highlight;
		color: $white;
	}
	.disabled {
		color: #c0c0c0;
		cursor: not-allowed;
		&:hover {
			color: #c0c0c0;
			background-color:  #edeff5;
		}
	}
}
.field {
	margin: .5rem 0  1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
	width: 100%;
	height: 2.5rem;
	padding: .25rem;
	background: $light;
	border: 1px solid darken($light, 5%);
	border-radius: .35rem;
	margin-top: .5rem;
}

textarea {
	min-height: 8rem;
	margin-top: .5rem !important;

}

#form {
	padding: 0 0 5rem 0;
}

.actions {
	a {
		text-decoration: none;
		color: $dark
	}
}

@import 'normalize';
@import 'welcome';
@import 'podcast';