#background {
	background-image: image-url("home_bg.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	
	header {
		padding: 3rem 0;
		#logo {
			float: right;
			text-transform: uppercase;
			font-weight: 700;
			color: $white;
			text-decoration: none;
		}
		nav {
			float: left;
			ul {
				list-style: none;
				margin: 0;
				direction: rtl;
				li {
					display: inline;
					margin-right: 2.5rem;
					a {
						color: $white;
						text-decoration: none;
					}
				}
			}
		}
	}

	h1 {
		color: $white;
		font-size: 3.3rem;
		font-weight: 300;
		// letter-spacing: 1px;
		margin: 11rem 0 2rem 0; 
		line-height: 5rem;
	}
	.button {
		margin: 1.5rem 2.5%  0 2.5%;
	}
}
