<%= render 'layouts/header' %>
 <!-- Banner Section -->
<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
    <h1> لوحة التحكم</h1>
  </div>
     </div>
     <!-- Banner End -->

  <!-- Dashboard Link Section -->
  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "التدوينات", root_path, class: "current"  %></li>
        <li><%= link_to "تدوينة جديدة", new_podcast_episode_path(@podcast)%></li>
        <li><%= link_to "اعدادات الحساب",edit_podcast_registration_path%></li>
        <li><%= link_to "اظهار التدوينات", podcast_path(current_podcast) %></li>
      </ul>
    </div>
  </div>
</div> 

      <div id="episodes">
        <div class="wrapper_skinny">
          <ul class="cf">

          <!-- Article Item -->
          <% @episodes.each do |episode| %>
            <li class="cf">
              <div class="episode_thumbnail">
                <a href="#">
                <%= image_tag episode.episode_thumbnail.url(:medium)%>
                </a>
              </div>
              <div class="episode_overview">
                <h2>
                  <%= link_to episode.title, podcast_episode_path(@podcast, episode)%>
                </h2>
                <p class="description">
                  <%= truncate(episode.description, length: 160) %>
                </p>
                <div class="authorized_links">
                <%= link_to "تعديل", edit_podcast_episode_path(@podcast,episode) %>
                <%= link_to "حذف", podcast_episode_path(@podcast,episode), method: :delete, data: {confirm: "هل انت متأكد انك تريد حذف هذه التدوينة ؟"} %>
                </div>
              </div>
            </li>
            <% end %>
          <!-- Article Item ends -->
          
          </ul>
        </div>
      </div>

        <!-- Pagination -->
        <%= will_paginate @episodes, previous_label: "Previous", next_label: "Next" %>