
	   <!-- Banner Section -->
		<div id="podcast_show">
			<div id="show_banner">
				<div class="wrapper_skinny">
				<h1><%= @podcast.title %></h1>
				<p class="description">
					<%= @podcast.description %>
				</p>
				<% unless @podcast.itunes.blank? %>
					<a href="<%= @podcast.itunes%>" class="subscribe_link" target="_blank">iTunes</a>
				<% end %>
				<% unless @podcast.stitcher.blank? %>
					<a href="<%= @podcast.stitcher %>" class="subscribe_link" target="_blank">Stitcher</a>
				<% end %>
				<% unless @podcast.podbay.blank? %>
					<a href="<%= @podcast.podbay %>" class="subscribe_link" target="_blank">PodBay</a>
				<% end %>
			</div>
	  	   </div>
	  	   <!-- Banner End -->

			<!-- Breadcrumb Section -->
	  	   <div id="breadcrumb">
	  	   <%= link_to podcasts_path do%>
	  	   All Podcasts 
	  	   	<span> / </span>
	  	   	<%= @podcast.title %>
	  	   <% end %>
	  	   </div>
		  </div>
			<!-- Breadcrumb End -->

			<div id="episodes">
				<div class="wrapper_skinny">
					<ul class="cf">

					<!-- Article Item -->
					<% @episodes.each do |episode| %>
						<li class="cf">
							<div class="episode_thumbnail">
								<a href="#">
								<%= image_tag episode.episode_thumbnail.url(:medium), class: "current_episode_thumbnail" %>
								</a>
							</div>
							<div class="episode_overview">
								<h2>
									<%= link_to episode.title, podcast_episode_path(@podcast, episode) %>
								</h2>
								<p class="description">
									<%= truncate(episode.description, length: 160) %>
								</p>
							</div>
						</li>
					<% end %>
					<!-- Article Item ends -->

					
					
					</ul>
				</div>
			</div>

				<!-- Pagination -->
				<%= will_paginate @episodes, previous_label: "Previous", next_label: "Next" %>
