  <footer id="footer">
	<div class="wrapper_wide">
	<a id="logo" href="/">نسحة تجريبية</a>
	<nav>
		<ul>
			<li><%= link_to "شروط الاستخدام", terms_path %></li>
			<li><%= link_to "سياسة الخصوصية", privacy_path %></li>
			<li><a href="">اتصل بنا</a></li>			
			<li><%= link_to "حول", about_path %></li>
		</ul>
	</nav>
   </div>
  </footer>