  <header class="cf" id="main_header">
    <div class="wrapper_wide">
    <%= link_to t("navbar.logo"), root_path, id: "logo" %>
      <nav>
        <ul>
        <% unless podcast_signed_in? %>
          <li><%= link_to t("navbar.menu.explore"), podcasts_path%></li>
          <li><%= link_to t("navbar.menu.signin"), signin_path  %></li>
          <li><%= link_to t("navbar.menu.signup"), signup_path %></li> 
          <%= link_to_unless_current "العربية", locale: "ar" %> | 
          <%= link_to_unless_current "English", locale: "en" %>
        <% else %>
          <li><%= link_to t("navbar.menu.dashboard"), root_path %></li>
          <li><%= link_to t("navbar.menu.explore"), podcasts_path %></li>
          <li><%= link_to t("navbar.menu.signout"), destroy_podcast_session_path, method: :delete %>
          <% end %>
        </ul>
      </nav>
       </div>
    </header>