<!DOCTYPE html>
<html>
  <head>
    <title>قلم صوتك 🎹</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet"><meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>

  <% if alert %>
    <div id="notice_wrapper">
  	   <p class="alert"><%= alert %></p>
    </div>
  <% elsif notice %>
    <div id="notice_wrapper">
    	<p class="notice"><%= notice %></p>
    </div>
  <% end %>

    <!-- Header & Navigation -->
    <% unless current_page?(root_path) %>
      <%= render 'layouts/header' %>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
    <script>
    "use strict";
    $(document).ready(function(){
      setTimeout(function(){
        $('#notice_wrapper').fadeOut("slow", function(){
          $('#notice_wrapper').remove();
        });
      },4500);
    });
      
    </script>
  </body>
</html>
